*{
  font-family: Georgia;
}
body {
  font-size: 20px;
  background: blue;
}
h1, h2 {
  text-align: center;
}
.container {
  width: 30%;
  margin: 40px auto;
  background-color: white;
  padding: 30px;
}
.insert {
  margin: 0 auto;
  width: 100%;
}
form {
  display: flex;
}
input {
  font-size: 0.8em;
  padding: 15px;
  width: 90%;
}
.li-container {
  width: 100%;
}
li {
  background-color: lightgray;
  margin-top: 10px;
  display: flex;
}
li p {
  font-size: 0.8em;
  margin: 0;
  padding: 12px;
  width: 100%;
}
.btn-add {
  font-size: 1.2em;
  border: none;
  color: white;
  padding: 10px 15px;
  background-color: rgb(2, 128, 2);
}
.btn-add:hover {
  cursor: pointer;
  background-color: rgb(2, 194, 2);
}
.btn-delete {
  font-size: 1.2em;
  border: none;
  color: white;
  padding: 10px 15px;
  background-color: rgb(172, 1, 1);
}
.btn-delete:hover {
  cursor: pointer;
  background-color: rgb(255, 8, 8);
}